body {
	font-family:'montserrat', arial;
	color:#FF1493;
	text-align: center;
	background:#f8f8f8;
	font-size: larger;
}
.btn{
	color:white;
	background:#f8f8f8;
	background-color: #FF1493;
	height: 40px;
	width: 300px;
	font-size: larger;
}
.error{
	font-size: larger;
	color: red;
	background-color: #FF1493;
	background:#f8f8f8;
}
