<h1>Words</h1>
  <table class="table table-striped">
    <thead>
      <th>Text</th>
      <th>Letters</th>    
    </thead>
    <tbody>
      <% @words.each do |word|%>
        <tr>
          <td><%=word.text%></td>
          <td><%=word.letters%></td>     
		  <td>
			<a href="<%= "/words/#{word.id}" %>"><%= "#{word.text}" %>
			</a>
		  </td>
        </tr>
      <% end %>
    </tbody>
  </table>