<h1 class="caps">Welcome to our</h1>
<h1 class="caps">ANAGRAM GENERATOR</h1>
 
<form action="/" method="post" class="form">
  <label for="word">Enter a word. Only 3 letters please!</label>
  <p><input type="text" name="word"></p>
  <p><input type="submit" class="btn" value="Show My My Anagram!"></p>
</form>