<% if @error.present? %>
<p class="error"><%= "#{@error}" %></p>
<% end %>
<form action="/" method="post" class="form">
	<div>Welcome To Our<P><SPAN>ANAGRAM GENERATOR</SPAN></P></div>
  <label for="word">Enter a word. Only 3 letter words please!</label>
  <p><input type="text" name="word"></p>
  <p><input type="submit" class="btn" value="Show Me My Anagrams!"></p>
</form>