<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/style.css" />
  <meta charset="utf-8">  
  <title>Anagrams Generator</title>
</head>
  <body>
	<!--<link rel="stylesheet" href="C:\sinatra_ar\anagram-app\app\public\style.css"> -->
    <div class="container" align='center'>
          <%= yield %>
      </div>
  </body>
</html>